body {
    background-color: black;
    overflow-x: hidden;
}

.container {
    
}

.button-group {
    border-right: 2px white;
}

.btn:hover {
    border: 1px solid blue;
}

.col-md-12.justify-content-center {
    margin: auto;

}

.card {
    border: 1px solid white;
    border-radius: 10px;
}

.line1 {
    width: 350px;
    height: 10px;
    color: white;
    background-color: antiquewhite;
    margin-bottom: 10px;
    margin-bottom: 4px;
}

.line2 {
    width: 150px;
    height: 10px;
    color: white;
    background-color: antiquewhite;
    margin-bottom: 4px;
}

.img-fluid.img1 {
    width: 500px;

}

.content-2-content-1,
.content-2-content-2,
.content-2-content-3 {

    margin-bottom: 5px;
}

.content-2-content-1,
.content-2-content-2,
.content-2-content-3:hover {


    cursor: pointer;
}

.content-2-content-1:hover {
    border: 2px solid blue;
}

.content-2-content-2:hover {
    border: 2px solid blue;
}

.content-2-content-3:hover {
    border: 2px solid blue;
}

.card.content-1 {
    padding: 30px;
    background-color: black;
    color: white;
    background-color: black;
}

.imge-6 {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.color1 {
    height: 4px;
    width: 30px;
    background-color: white;


}

.color2 {
    height: 4px;
    width: 30px;
    background-color: white;
    margin-right: 4px;
}

.color3 {
    height: 4px;
    width: 60px;
    background-color: white;
}

.overlap {
    width: 100%;
    height: 200px;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

.centerd {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.line-1{
    width: 30px;
    height: 5px;
    background-color:green;
    margin-left: 80px;
    margin-top: 20px;
    
}

.line-2{
    width: 100px;
    height: 5px;
    background-color:white;
    margin-top: 20px;
    
    
}
.line-content.d-flex{
    margin-bottom: 20px;
}
.footer ul li{
    list-style: none;
    padding-bottom: 5px;

}
.col-sm-12.card{
    padding: 40px;
    background-color: black;
    border:0
}
.col-sm-12.text{
    text-align: center;
    justify-content: center;
}
.col-sm-12.terms{
    display: flex;
    align-items: start;
}
@media(max-width:568px){
    .text-end{
        align-items: end;
    }
}